.main-footer{
    background-color: #40A72E;
    margin-top: 30px;
  }
  
  .nav1-footer{
    align-self: center;
  }
  
  .nav1-footer ul{
    list-style-type: none;
  }
  
  .nav1-footer ul li{
    padding-bottom: 10px;  
  }
  
  ul{
    margin-bottom: 0rem;
  }
  
  a {
    color: black;
    display: inline-block;
  }
  
  .nav-suscribe{
    align-self: center;
  }
  
  .nav-suscribe i{
    color: black;
    font-size: 1.5em
  }
  