.container-fluid{
    background-color:green;
margin-bottom: 20px;
} 
.logo{
        height: 100px;
        width: 100px;
        margin-bottom:10px;
        margin-top:10px;
        margin-left: 0px;
} 
.form-inline {
    margin-top: 40px;
    margin-left: 70px;
  
   } 
   .form-control{
        padding-right:100px;
        
    } 

 .usuario{
     margin-left: 200px;
     margin-top: 40px;
     } 
 
 
 .container{
     width:1350px;
     display:flex;
     flex-wrap: wrap;
     
 } 
 
 .contenedor-1{
     width:800px;
     margin-left: -40px;

 } 
 .detalles{
     background-color: rgb(255, 247, 180);
 } 

 .filas{
     background-color: rgb(234, 252, 185);
    }
.filas3{
    background-color: rgb(255, 254, 187);
} 

 .productoseleccionado {
     width: 100px;
 } 
 .stockdeproducto {
     background-color: rgb(218, 218, 218);
     width: 70px;
     margin-top:20px;
      } 

.contenedor-2{
    background-color: rgb(255, 226, 226);        
    margin-left:20px;
    width: 320px;
    background-image: url(https://pulsonoticias.com.ar/wp-content/uploads/2019/08/compras.jpg);
} 
.resumen{
    width: 80%;
    margin-bottom: -20px;
    margin-left: 40px;

} 
.finalizar{
    margin-left: 20px;
    margin-top: 10px;
} 

.footer{
    background-color:green;

}
.link{
    color: white;
    margin-top:20px;
    
}  
.redessociales{
    width:20px;
} 
.tarjetas{
    width: 300px;
    display: block;
    margin-top:20px;
} 

.logo1{
    height: 100px;
        width: 100px;
        margin-bottom:10px;
        margin-top:10px;
        margin-left: 0px;
        margin-right:30px;
} 

.levite{
    width: 300px;
    height: 200px;
    margin-left:10px;
} 

#subtotal{
    border: solid 2px green;
    opacity:0.6;
    
} 
.dialogo{
    color: white;
    font-family: serif;
    font-weight: bold;
    background-color: green;
    font-size:12px;

} 
 