<%-include('partials/head.ejs') %>

<body>
    <%-include('partials/header.ejs') %>
    <div class="container" id= "contenedorN">
        <div class="contenedor-1" id= ContenienteN>
            <div class="detalles1">
                <div class="row">
                    <div class=col-lg-2>Producto</div>
                    <div class=col-lg-4>Descripción</div>
                    <div class=col-lg-3>Unidades</div>
                    <div class=col-lg-3>Total</div>
                </div>
            </div>
            <div class="filas">
                <div class="row">
                    <div class=col-lg-2>
                        <img src="images/Pure-de-Tomate-La-Costena-Lata-2_95-Kg.jpg"
                        alt= "lata de tomate" class="productoseleccionado">
                    </div>
                    <div class=col-lg-4>Acá va la descripción del producto comprado</div>
                    <div class=col-lg-3>
                        <form class="stock">
                            <div class="form-group">
                                <label for="number"></label>
                                <input type="number" aria-describedby="passwordHelpInline" class="stockdeproducto">
                            </div>
                        </form>
                    </div>

                    <div class=col-lg-3>
                        <form class="precio">
                            <div class="form-group">
                                <label for="value"></label>
                                <input type="value" aria-describedby="passwordHelpInline" class="stockdeproducto">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="filas3">
                <div class="row">
                    <div class=col-lg-2>
                        <img src="images/espinaca-500g.png"  alt="espinaca congelada" class="productoseleccionado">
                    </div>
                    <div class=col-lg-4>Acá va la descripción del producto comprado</div>
                    <div class=col-lg-3>
                        <form class="stock">
                            <div class="form-group">
                                <label for="number"></label>
                                <input type="number" aria-describedby="passwordHelpInline" class="stockdeproducto">
                            </div>
                        </form>
                    </div>

                    <div class=col-lg-3>
                        <form class="precio">
                            <div class="form-group">
                                <label for="value"></label>
                                <input type="value" aria-describedby="passwordHelpInline" class="stockdeproducto">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class=filas>
                <div class="row">
                    <div class=col-lg-2>
                        <img src="images/paty_clasico_320gr.jpg" alt="hamburgesa" class="productoseleccionado">
                    </div>
                    <div class=col-lg-4>Acá va la descripción del producto comprado</div>
                    <div class=col-lg-3>
                        <form class="stock">
                            <div class="form-group">
                                <label for="number"></label>
                                <input type="number" aria-describedby="passwordHelpInline" class="stockdeproducto">
                            </div>
                        </form>
                    </div>

                    <div class=col-lg-3>
                        <form class="precio">
                            <div class="form-group">
                                <label for="value"></label>
                                <input type="value" aria-describedby="passwordHelpInline" class="stockdeproducto">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class=filas3>
                <div class="row">
                    <div class=col-lg-2>
                        <img src="images/exquisita_vainilla.JPG"
                            alt="exquisita" class="productoseleccionado">
                    </div>
                    <div class=col-lg-4>Acá va la descripción del producto comprado</div>
                    <div class=col-lg-3>
                        <form class="stock">
                            <div class="form-group">
                                <label for="number"></label>
                                <input type="number" aria-describedby="passwordHelpInline" class="stockdeproducto">
                            </div>
                        </form>
                    </div>

                    <div class=col-lg-3>
                        <form class="precio">
                            <div class="form-group">
                                <label for="value"></label>
                                <input type="value" aria-describedby="passwordHelpInline" class="stockdeproducto">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="contenedor-2" id="carritoContenedor">
            <div class ="row" id="margendeldialogo">
                <div class="col-lg-2">
                    <form class = "form-inline" action = "" method="POST">
                        <p>
                            <label for = "subtotal" class="dialogo">SUBTOTAL</label>
                            <input type="text" name= "subtotal" id="subtotal">
                        </p>
                        <p>
                            <label for = "cupon"class="dialogo">CUPÓN</label>
                            <input type="text" name= "cupon" id="subtotal">
                        </p>
                        <p>
                            <label for = "cupon"class="dialogo">TOTAL</label>
                            <input type="text" name= "Total" id="subtotal">
                        </p>

                     </form>
                </div>
            </div>
              <div class="row">
                  <div class="finalizar">
                      <button class="btn btn-outline-success my-2 my-lg-4" type="submit">finalizar compra</button>
                  </div>
                      <div class="finalizar">
                      <button class="btn btn-outline-success my-2 my-lg-4" type="submit">continuar compra</button>
                  </div> 
              </div>
              <div class="row">
                  <div class="col-2">
                      <img src="images/levite-15-600x471.jpg" alt="levite" class="levite">
                  </div>
              </div>
          </div>
          </div>
          </div>

          <%-include('partials/footer.ejs') %>

</body>

</html>