<%- include('partials/head.ejs') %>
<body>
    <header>
        <div class="container-fluid-1">
            <div class="row">
                <div class="col-lg-9">
                    <img src="/images/Logo.png"
                        alt="Express Market" class="logo4">
                </div>
            
                <div class="volver" class=col-lg-3>
                    <button class="btn btn-outline-success my-2 my-lg-4" type="submit" id="volviendo">volver</button>
                </div>

            </div>
        </div>
    </header>
    <div class= "container" id="contenedorDelFormulario">
        <div class = "row" id="nombresenformulario">
            <div class = "col-lg-6">        
                 <form action="/productos/crear" method="POST" class="form-inline" enctype="multipart/form-data" > <!---enctype="multipart/form-data"--->
                  <div class="form-group" class="filas">
                  <label for="value">Nombre</label>
                  <input type="text" name="nombre" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                  </div>
                
            </div>
        
            <div class = "col-lg-6">
                <div class="form-group" class="filas">
                   <label for="value">Precio</label>
                   <input type="value" name="precio" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                   </div>
                
         </div>
        </div>
    
        <div class ="row" id="sectionCatalogo">
            <div class= "col-lg-12">
               <label for="">Categoria</label>
                <select name="categoria">
                    <% for (let i = 0; i < categoria.length; i++){%>
                        <option value="<%=categoria[i].id_categories%>">
                           <%=categoria[i].nombre%>
                        </option>
                    <% } %>                   
                                  
                </select>
            </div>
        </div>
        <div class = "row">
            <div class= "cuadrodeproducto" class = col-lg-6>
                     <label class="text">Descripción del producto</label>
                    <textarea name = "descripcion" class= "cuadro"></textarea>
                        
                        <button type = "reset" class="reset">Borrar</button>
               
            </div>
        </div>
        <div class ="row">
            <div class = col-12>
                    <div class="form-group" id="cargarimagen">
                      <label for="exampleFormControlFile1">Cargar imagen Producto</label>
                      <input type="file" name="imagen" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  
            </div>
        </div>
    
        <div class="row">
            <div class="col-lg-12">
                <button class= "boton" type ="submit" id="guardar">Guardar</button>
            </div>
        </div>
        
    </form>
        </div>
             
        <%-include("partials/footer.ejs")%>
</body>
</html>