<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home Express</title>
		<link rel= "stylesheet" href="css/boostrap.min.css">
		<script src="https://kit.fontawesome.com/a0c0bb4f74.js" crossorigin="anonymous"></script>
	</head>
	<body>		
			<!--- cabecera -->
		<header class="main-header">
			<div class="container-fluid topbar">
				<div class= "comtainer">
					<a href = "/" class="main-header_home-link">
						<img src="../public/images/Logo.png" alt="logotipo" class="logo">
			</div>
			</nav>
						
			<div class="navbar1">
				
					<a href="">Inicio</a>
					<a href="">Tiendas y promociones</a>
					<a href="">Catalogo</a>
					<a href="">Cobertura</a>
						<!--<i class="icon-placeholder"> </i></a>--->
					<a href="">Ayuda y contacto</a>
				
			</div>
				
			<div class="navbar2">
					<a href="">Creá tu cuenta</a>
					<a href="">Ingresá</a>
					<a href="">Mis compras</a>
​			 </div>	
			</nav>

		</header>

		<!-- banner -->
		<section class="banner">
			<img src="../public/images/banner.jpg" alt="banner">
		</section>

		<!-- productos -->
		<section class="vip-ofertas">
			<article class="ofertas-col-md-12">
				<h2 class="titulo"> Ofertas Destacadas</h2>
				<div class="container">
					<div class="columna1kd">
						<img class="special" src="../public/images/ofertaDeVerdad.jpg"></div>

					<div class="columna2kd">
						<img class="photo" src="../public/images/cuidadoHogar.jpg" alt="pdto 01"></div>


					<img class="photo" src="../public/images/cuidadoPersonal.jpg" alt="pdto 02"></div>
					<!--- <a href=""> link foto </a>   -->
				</div>	
		</section>

		<section class="home-desktop_brands wrapper banners-wrapper food-site">

				<h2 class= "titulo"> Promociones</h2> 
				<!---- marcas destacadas---->
					<img class="photo" src="../public/images/mastellone.jpg" alt="pdto 01"></div>
					<img class="photo" src="../public/images/oralB.jpg" alt="pdto 02"></div>
					<img class="photo" src="../public/images/quilmes.jpg" alt="pdto 03"></div>

				<div class="col-xs-12 col-sm-12 recomendedVM align-center">
				<a href= "./supermercado" class="botonVerMas">
							Ver todos los productos	</a>
				</div>			

				<div class= "recetas col-md-12">
					<h2 class= "titulo"> Nuestras Recetas</h2>
					<div class= "container" >
						<div class= "row-recetas-container">
							  
				<div class="col-xs-12 col-md-4 item-receta" style="">
    					<div class="row">
      	<!---- <a href="/recetas/Lasagna-de-Carne" class="col-md-12 descripcion_receta"> --->
        				<img src="../public/images/lasagna.jpg" alt="Lasagna de Carne" title="Lasagna de Carne - Recetas">     
     					<h3 class="title_receta col-xs-12 col-md-10 col-md-offset-1"> Lasagna de Carne</h3>
      					<p class=" description_recipes col-md-10 col-md-offset-1">
            			Prepara una deliciosa lasagna de carne con los mejores ingredientes.</p>

      		    </div>
	
				<div class="col-xs-12 col-md-4 item-receta" style="">
    					<div class="row">
     	 <!---<a href="/recetas/pollo" class="col-md-12 descripcion_receta"> --->
        				<img src="../public/images/receta-pollo.jpg" alt="pollo" title="Pollo - Recetas">    
      					<h3 class="title_receta col-xs-12 col-md-10 col-md-offset-1"> Pollo</h3>
      					<p class=" description_recipes col-md-10 col-md-offset-1">
            			Prepara un delicioso pollo, una de las recetas más clásicas pero muy original</p>

				</div>
		

		</section>

	<footer class="main-footer">

			<div class= "container Menu">
				<div class="col-md-3 logotipo">
						<img src ="../public/images/Logo.png" alt= "logotipo" class="logo">

					<div class="hidden-xs">
						<div class= "derechos">
						Express Market
						</div>
			</div>
			 
			<div class= "hidden-xs">
					<div class="col-md-3">
							<span class="titulocolumna"> 
							<h3>Empresa</h3>
							</span>
						<ul class="menuEmpresa-footer">
							<li><a href="/sitioCorporativo">
							 		Sitio Corporativo </a></li>
							<li><a href="/oportunidadesLaborales">
							 		Oportunidades Laborales </a></li>
							<li><a href="/PreguntasFrecuentes">
							 		Preguntas Frecuentes </a></li>
							<li><a href="/CuponesElectonicos">
							 		Cupones Electronicos </a></li>
							 <li><a href="/Terminos">
							 		Terminos Y condiciones </a></li>
						</ul>	
					<div class="col-md-3">
							<span class="tituloColumna2">
							<h3> Servicio al Cliente </h3>
							</span>
						<ul class="menuEmpresa-footer2">
							<li><a href="/Contáctanos">
							 		Contáctanos </a></li>
							<li><a href="/¿ComoComprar?">
							 		¿Como comprar? </a></li>
							<li><a href="/Localizador">
							 		Localizador  </a></li>
							<li><a href="/FacturasElectronicas">
							 		Facturas Electrónicas </a></li>
							 <li><a href="/CondicionesPago">
							 		Terminos Y condiciones de pago </a></li>	

					<div class="redes-footer">
							<i class="fab fa-facebook-square"></i>
							<i class="fab fa-instagram"></i>
							<i class="fab fa-twitter"></i>
			</div>

			
	</footer>
	
	<script src="js/jquery.js"></script>
	<script src="js/boostrap.js"></script>

	</body>
</html>