
 <%- include("partials/head.ejs")%>
 <body>	
     <%-include('partials/header.ejs') %>
     <h1>Listado de Productos</h1>
     <ul>
         <% for (let i = 0; i < 

     </ul>         


     <%-include("partials/footer.ejs")%>
    
 </body>


</html>