<%- include("partials/head.ejs")%>

	<body>	
        <%-include('partials/header.ejs') %>
        <div class="container" id= "contenedorRegistro-1"> 
            <section id="sing-form-2">
            <div class= varios>
            
           <img src="/images/Logo.png" alt="" class="logoRegistro-login">
        </div>
          
        <form action="/login/login" method="POST">
           
            <p>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email">
            </p>
            <p>
                <label for="password">Contraseña:</label>
                <input type="password" name="contrasena" id="password">
            </p>
           
            <input type="submit" value="INGRESAR" id="botonDeRegistro-2">
            <input type="checkbox" name="recordar" value="recordar">Recordarme<br>
            <p>
                <a class = "ingresar" href="./register">No estoy registrado</a>
            </p>
            <div style='color: red'>
                <% if (typeof errors != 'undefined') { %>  
                    <ul style='list-style: none'>
                    <% for (error of errors) {%>
                            <li> <%= error.msg%> </li>
                    <% } %>
                    </ul>
                <% }%>
                </div>
        </form>
        </section>
        </div>
    </div>
    

        <%-include("partials/footer.ejs")%>
</body>
</html>