<%- include('./partials/head.ejs') %>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <img src="../public/images/Logo.png"
                        alt="Express Market" class="logo">
                </div>
                <div  class=col-lg-3>
                    <button class="btn btn-outline-success my-2 my-lg-4" type="submit">volver</button>
                </div>
            </div>
        </div>
    </header>
    
    <div class="navbar1">
	    <a href="">Inicio</a>
	    <a href="">Tiendas Oficiales</a>
	   	<a href="">Productos</a>
        <a href="">Cobertura</a>
        <a href="">Nosotros</a>
    </div>
    <h1>Detalle del Producto</h1>
    <div class="product_info">
        <h3 class="description">
            <div class="description_product">Arroz Lucchetti Largo Fino 1Kg</div>
        </h3>
        <h2>$60</h2>
        <div class="name">
            <img src="../public/images/arroz.jpg" alt="Arroz Lucchetti Largo Fino 1Kg" class="img_product">
        </div>            
        <div  class="comprar">
            <button class="btn btn-outline-success my-2 my-lg-4" type="submit">Comprar</button>
        </div>
    </div>
   
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="row">
        <div class="col-12 col-lg-3"><img src="/public/images/Logo.png"></div>
        <div class="col-12 col-lg-2 nav1-footer">
          <ul>
            <li><a href="#"> Inicio </a></li>
            <li><a href="#"> Productos </a></li>
            <li><a href="#"> Cobertura</a></li>
            <li><a href="#"> Express Club</a></li>
            <li><a href="#"> Medios de Pago</a></li>    
            <li><a href="#"> Contacto</a></li>    
          </ul>
        </div>
        <div class="col-12 col-lg-2 nav1-footer">
          <ul>        
            <li><a href="#"> Nosotros</a></li>
            <li><a href="#"> Registro</a></li>
            <li><a href="#"> Buscar </a></li>
            <li><a href="#"> Devoluciones</a></li>
            <li><a href="#"> Legales </a></li>
          </ul>
          
        </div>
        <div class="col-12 col-lg-5 nav-suscribe">
          <p>Recibi nuestras ofertas:</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Ingrese su correo" aria-label="Newletter" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Suscribir</button>
            </div>
          </div>
            <div>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-pinterest-square"></i>
            <i class="fab fa-youtube"></i>
          </div>
          </div>
    
        </div>
    
    
      </div>
    </footer>


</body>
</html>