
 <%- include("partials/head.ejs")%>
 <body>	
     <%-include('partials/header.ejs') %>
     <h1> Productos</h1>
     <nav>
         <ul>
             <li>
                 <a href="/productos/crear">Cargar Producto</a>
             </li>
             <li>
                 <a href="/productos/">Listado de Productos</a>
             </li>
         </ul>
     </nav>
     



     <%-include("partials/footer.ejs")%>
    
 </body>


</html>