<%- include('partials/head.ejs') %>
<body>
    <%- include("partials/header.ejs") %>
    <div class = "container" id="contenderProductosDetalles">
    <h1>Detalle del Producto</h1>
    <div class="product_info">
        <h3 class="description">
            <div class="description_product">Arroz Lucchetti Largo Fino 1Kg</div>
        </h3>
        <h2>$60</h2>
        <div class="name">
            <img src="/images/arroz.jpg" alt="Arroz Lucchetti Largo Fino 1Kg" class="img_product">
        </div>            
        <div  class="comprar">
            <button class="btn btn-outline-success my-2 my-lg-4" type="submit">Comprar</button>
        </div>
    </div>
    </div>
    
   
    <%-include('partials/footer.ejs') %>


</body>
</html>