<%- include("partials/head.ejs")%>

	<body>	
        <%-include('partials/header.ejs') %>
        <div class= "container" id= "products-wrapper">
            <div class = "row">
                <div class="col-12">
                    <h2 class="products-title">PROMOCIONES DE LA SEMANA</h2>
                </div>
        
            </div>
        </div>
        <%-include("partials/footer.ejs")%>
</body>
</html>