<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
<div class="container" id= "contenedorRegistro">
    
    <section id="sing-form">
    <div class= varios>
        <h1>REGISTRO</h1>
       <img src="/images/Logo.png" alt="" class="logoRegistro">
    </div>
    <form action="/register/create" method="POST">
        <p>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre">
        </p>
        <p>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="nombre">
        </p>
        <p>
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" id="user">
        </p>
        <p>
            <label for="email">Email:</label>
<<<<<<< Updated upstream
            <input type="text" name="email" id="email">
=======
            <input type="email" name="email" id="email" required>
>>>>>>> Stashed changes
        </p>
        <p>
            <label for="password">Contrase単a:</label>
            <input type="password" name="contrase単a" id="password">
        </p>
        <p>
            <label for="password_repeat">Repetir Contrase単a:</label>
            <input type="password" name="contrase単a2" id="password2">
        </p>
        <input type="submit" value="Registrar" id="botonDeRegistro">
    </form>
    </section>
    </div>

<%-include('partials/footer.ejs') %>


</body>
</html>
