<<<<<<< HEAD:site/views/register.ejs
 <%- include('./partials/head.ejs') %>
=======
<!DOCTYPE html>
<html lang="sp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/register.css">
	<link rel="stylesheet" href="../public/stylesheets/reset.css">
	<title>Registrate en Express Market</title>
</head>

>>>>>>> master:site/views/register.html
<body>

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <img src="../public/images/Logo.png"
                        alt="Express Market" class=logo>
                </div>
                <div  class=col-lg-3>
                    <button class="btn btn-outline-success my-2 my-lg-4" type="submit">volver</button>
                </div>
            </div>
        </div>
    </header>

	<div class="container">
		<div class="form__top">
			<h2>Formulario de Registro</h2>
		</div>		
		<form class="form__reg" action="">
            <input class="input" type="text" placeholder="&#128100;  Nombre" required autofocus>
            <input class="input" type="text" placeholder="&#128100;  Apellido" required autofocus>
            <input class="input" type="email" placeholder="&#9993;  Email" required>
            <input class="input" type="text" placeholder="&#128100;  Usuario" required autofocus>
            <input class="input" type="password" placeholder="&#128100;  Contrseña" required autofocus>
            <input class="input" type="password" placeholder="&#128100;  Repetir contraseña" required autofocus>
            <div class="btn__form">
            	<input class="btn__submit" type="submit" value="Guardar">
            	<input class="btn__reset" type="reset" value="Borrar">	
            </div>
		</form>
    </div>
    
    
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <img src="../public/images/Logo.png"
                        alt="Express Market" class=logo>
                </div>
            </div>
        </div>
    </footer>
	
</body>
</html>
