 <%- include('./partials/head.ejs') %>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <img src="../public/images/Logo.png"
                        alt="Express Market" class=logo>
                </div>
                <div  class=col-lg-3>
                    <button class="btn btn-outline-success my-2 my-lg-4" type="submit">volver</button>
                </div>
            </div>
        </div>
    </header>
    
    <div class="navbar1">
	    <a href="">Inicio</a>
	    <a href="">Tiendas Oficiales</a>
	   	<a href="">Productos</a>
        <a href="">Cobertura</a>
        <a href="">Nosotros</a>
    </div>
    <h1>Registro</h1>
    <form action="" method="post">
        <p>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre">
        </p>
        <p>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="surname">
        </p>
        <p>
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" id="user">
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
        </p>
        <p>
            <label for="password">Contrase単a:</label>
            <input type="password" name="contrase単a" id="password">
        </p>
        <p>
            <label for="password_repeat">Repetir Contrase単a:</label>
            <input type="password" name="contrase単a" id="password">
        </p>
        <input type="submit" value="Registrar">
    </form>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <img src="../public/images/Logo.png"
                        alt="Express Market" class=logo>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>