 <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
<div class="container" id= "contenedorRegistro">
    
    <section id="sing-form">
    <div class= varios>
        <h1>REGISTRO</h1>
       <img src="/images/Logo.png" alt="" class="logoRegistro">
    </div>
    <form action="/register/create" method="POST" enctype="multipart/form-data">
        <p>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre">
        </p>
        <p>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="nombre">
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
        </p>
        <p>
            <label for="password">Contraseña:</label>
            <input type="password" name="contrasena" id="password">
        </p>
        <p>
            <label for="password_repeat">Repetir Contraseña:</label>
            <input type="password" name="contrasena2" id="password2">
        </p>
        <p>
            <label for='exampleFormControlFile1' class='form-label input-group-btn'>Imagen de Perfil: </label>
            <input accept=".jpg,.png,.jpeg,.gif" class="" id="exampleFormControlFile1" name= "imagen" type="file" required>
        </p>
        <input type="submit" value="Registrar" id="botonDeRegistro">
        <div style='color: red'>
            <% if (typeof errors != 'undefined') { %>  
                <ul style='list-style: none'>
                <% for (error of errors) {%>
                        <li> <%= error.msg%> </li>
                <% } %>
                </ul>
            <% }%>
            </div>
    </form>
    </section>
    </div>

<%-include('partials/footer.ejs') %>

</body>
</html>