<footer>
    <div class="container-fluid" id="ContProd">
        <div class="footer">
            <div class="row">
                <div class="col-lg-2">
                    <img src="/images/Logo.png" alt="Express Market" class="data">
                </div>
                <div class="col-lg-5">
                    <ul class= "link">
                        <li><a href="" class= "link">Información de interés general</a></li>
                        <li><a href=""class= "link" >Términos y condiciones</a></li>
                        <li><a href=""class= "link" >Trabaja con nosotros</a></li>
                        <li><a href="" class= "link">Localizador de tiendas</a></li>
                    </ul>
                </div>

                <div class="col-lg-1">
                    <img src="/images/data_fiscal.png"
                        alt="Express Market" class="data2">
                </div>
                <div class="col-lg-4" id="iconosTodos">
                    <img src= "/images/instagram.png"alt="Express Market" class=redessociales>
                    <img src="/images/facebook.png" alt="Express Market" class=redessociales>
                    <img src="/images/whatsapp.png" alt="Express Market" class=redessociales>
                    <img src="/images/twitter.png" alt="Express Market" class=redessociales>
                    <img src="/images/correo.png" alt="Express Market" class=redessociales>
                    <img src="/images/medios-de-pago.png" alt="Express Market" class="tarjetas">
                </div>
            </div>
        </div>
</footer>