<body class= "body">	
    <header>
         <div class="container-fluid">             
             <div  id = "separado" class="row">
                 <div class="col-3">
                     <img src="images/Logo.png" alt="Express Market" class=logo>
                 </div>
                 <div class=col-6 id= "imagenHeader">
                     <form class="form-inline" id="buscadorHeader">
                         <input class="form-control" type="search" placeholder="Buscá tus productos" aria-label="Search" id="buscadorDelMenu">
                         <button id= "boton" class="btn btn-outline-success my-2 my-lg-4" type="submit">Buscar</button>
                     </form>
                 </div>
                 <div class="usuario" class=col-3>
                     <button id= "boton" class="btn btn-outline-success my-2 my-lg-4" type="submit"><a href="../login">Ingresar</a></button>
                 </div>
             </div>
             <div id= "menu" class="row">
                <div class="col-12">
                    <ul class="navbar" >
                        <li><a class= "inicio" href="./">HOME</a></li>
                        <li><a class= "inicio" href="http://3.bp.blogspot.com/-kSOGPd0Sr5Y/Tvvz7XKToHI/AAAAAAAAANw/XWB2WqoGHkM/s1600/EN-CONSTRUCCION.gif">PROMOCIONES</a></li>
                        <li><a class= "inicio" href="./products">CATÁLOGO</a></li>
                        <li><a class= "inicio" href="http://3.bp.blogspot.com/-kSOGPd0Sr5Y/Tvvz7XKToHI/AAAAAAAAANw/XWB2WqoGHkM/s1600/EN-CONSTRUCCION.gif">COBERTURA</a></li>
                        <li><a class= "inicio" href="http://3.bp.blogspot.com/-kSOGPd0Sr5Y/Tvvz7XKToHI/AAAAAAAAANw/XWB2WqoGHkM/s1600/EN-CONSTRUCCION.gif">AYUDA Y CONTACTO</a></li>
                    </ul>  
                 </div>
             </div>
         </div>
     </header>
     