<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <img src="/public/images/Logo.png"
                    alt="Express Market" class=logo>
            </div>
            <div class=col-lg-6>
                <form class="form-inline">
                    <input class="form-control" type="search" placeholder="más productos" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-lg-4" type="submit">buscar</button>
                </form>
            </div>
            <div class="usuario" class=col-lg-3>
                <button class="btn btn-outline-success my-2 my-lg-4" type="submit">Ingresar</button>
            </div>
        </div>
    </div>
</header>